KIP_DB_HOST=localhost
KIP_DB_PORT=5432                          # Всегда 5432 (PG16)
KIP_DB_NAME=kip_vehicles
KIP_DB_USER=postgres
KIP_DB_PASSWORD=

MAIN_DB_HOST=localhost
MAIN_DB_PORT=5432                         # Windows: 5432; macOS: 5433
MAIN_DB_NAME=mstroy
MAIN_DB_USER=postgres
MAIN_DB_PASSWORD=
